@model IEnumerable<PowerJump.Models.Photo>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="well well-lg image" style='background-image:url("@Url.Content(item.Path)");'>
                            @using (Html.BeginForm("Delete", "Photos", new { id = item.Id, goToController = "Photos", goToAction = "Index" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" class="btn btn-default" />
                            }
                        </div>
                    </div>
                </div>


            }
        </div>

    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
